*.jou
*.log
*.str
*.dmp
.Xil/
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.xsa
*.hdf
*.rpt
*.pb
*.wdb
*.vcd
*.pdf

*.runs/**/*
!*.runs/**/*.bit
!*.runs/**/*.bin
!*.runs/**/*.mcs

# DVT 相关配置
!.dvt/
!.project
!dvt_build.log
!**/dvt_build.log

!*.bit
!*.bin
!*.mcs